<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings configSource="Config\ConnectionStrings.config" />
  <system.web>
    <machineKey validationKey="4AF9C0AB7E94C1BFB55B2046930D97AD0D33F2413560EB3FAEAD96D547874C42E0478A0D7B7177A4785447B6B5FC5DE34808A4F71DA1CEFFB33A70BB9A8F61D0" decryptionKey="A994141E253CE3B714492CBC06496692DD69686F751860FE477569A9763100EA" validation="SHA1" decryption="AES" />
    <membership defaultProvider="AspNetSqlMembershipProvider">
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="EFCOMLoungeConnectionString" applicationName="/EFLounge" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Encrypted" minRequiredPasswordLength="2" minRequiredNonalphanumericCharacters="0" />
      </providers>
    </membership>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
